/build
/obj
/bin
/trace.*
dub.userprefs
dub.selections.json
docs.json
performance_test
__dummy.html
.directory
.idea
.dub
*.a
*.dll
*.exe
*.kdev4
*.log
*.lib
*.o
*.obj
*.suo
*.so
*.swp
*.userprefs
*.zip
*-test-*
__test__*__
examples/*/log.txt
examples/TcpClient/tcp-client
examples/Timer/timer
examples/UdpDemo/udp-demo
examples/HttpServer/http-server
examples/TcpServer/tcp-server

