# Visual Studio Code
#.vscode/
.suo

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Examples

examples/*/log.txt
examples/Benchmark/hunt-benchmark
examples/ConfigurationDemo/configuration
examples/ContainerDemo/container-demo
examples/UdpDemo/udp-demo
examples/HttpServer/http-server
examples/EventGroupDemo/http-server-powered
examples/PerformanceTest/performance
examples/TcpDemo/tcp-client
examples/TcpDemo/tcp-server
examples/Timer/timer
examples/UnitTest/unittest

# others

hunt-test-default
