# Visual Studio Code
#.vscode/
.suo

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html


# Code coverage
*.lst

# Examples

examples/*/log.txt
examples/configuration/configuration
examples/collecton/container-demo
examples/udp/udp-client
examples/udp/udp-server
examples/performance/performance
examples/tcp/tcp-client
examples/tcp/tcp-server
examples/timer/timer
examples/test/unittest

# others
*-test-*
.DS_Store
*.zip
*-test-*
mixin_output.d

# meson build directories
build
_build

# idea
.idea
*.iml
