http.listen = 100

name = GlobleConfiguration
time = 2018 

TestConfig.name = Hunt-config
TestConfig.time = 1.31 

app.node1.node2.node3 = nothing
app.name = Hunt-dev
app.description = Shanghai Puto Inc.
app.fullName = Putao Hunt
app.time = 0.25 
app.interval = 550
app.interval3 = 888 
app.buildMode = default

app.server1.ip = 8.8.8.0
app.server1.listen = 8.8.8.1

app.server2.ip = 8.8.9.0
app.server2.listen = 8.8.9.1

app.httpserver.ip = 8.8.10.0
app.httpserver.listen = 8.8.10.1
app.httpserver.port = 8081

# this is  
    ; start dev
    
[dev]
app.buildMode = dev

[release]
app.buildMode = release